:root {
  --axiom-space-0: 0;
  --axiom-space-1: 4px;
  --axiom-space-2: 8px;
  --axiom-space-3: 12px;
  --axiom-space-4: 16px;
  --axiom-space-5: 20px;
  --axiom-space-6: 24px;
  --axiom-space-8: 32px;
  --axiom-space-10: 40px;
  --axiom-space-12: 48px;
  --axiom-space-16: 64px;
}
