:root {
  --asriui-space-0: 0;
  --asriui-space-1: 4px;
  --asriui-space-2: 8px;
  --asriui-space-3: 12px;
  --asriui-space-4: 16px;
  --asriui-space-5: 20px;
  --asriui-space-6: 24px;
  --asriui-space-8: 32px;
  --asriui-space-10: 40px;
  --asriui-space-12: 48px;
  --asriui-space-16: 64px;
}
