:root {
  --asriui-duration-fast: 120ms;
  --asriui-duration-normal: 200ms;
  --asriui-duration-slow: 300ms;
  --asriui-easing-standard: cubic-bezier(0.2, 0, 0, 1);
  --asriui-easing-emphasized: cubic-bezier(0.2, 0, 0, 1.2);
}
