:root {
  --asriui-z-base: 0;
  --asriui-z-dropdown: 1000;
  --asriui-z-sticky: 1100;
  --asriui-z-overlay: 1200;
  --asriui-z-modal: 1300;
  --asriui-z-popover: 1400;
  --asriui-z-toast: 1500;
  --asriui-z-tooltip: 1600;
}
